<nav>
    <ul>
        <li><a href="index.php"><span class="uk-margin-right" uk-icon="icon: home; ratio: 2.56"></span>Connexion</a></li>
        <li><a href="excursion.php"><span class="uk-margin-right" uk-icon="icon: camel; ratio: 0.1"></span>Excursions</a></li>
        <li><a href="hiker.php"><span class="uk-margin-right" uk-icon="icon: hiker; ratio: 0.1"></span>Randonneurs</a></li>
        <li><a href="guide.php"><span class="uk-margin-right" uk-icon="icon: guide; ratio: 0.1"></span>Guides</a></li>
    </ul>
</nav>