<nav class="uk-navbar uk-navbar-container">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-nav-primary uk-nav-center">
            <li class="uk-active"><a href="index.php"><span class="uk-margin-small-right" uk-icon="icon: home; ratio: 2"></span>Connexion</a></li>
            <li><a href="excursion.php"><span class="uk-margin-small-right" uk-icon="icon: camel; ratio: 0.1"></span>Excursions</a></li>
            <li><a href="hiker.php"><span class="uk-margin-small-right" uk-icon="icon: hiker; ratio: 0.1"></span>Randonneurs</a></li>
            <li><a href="guide.php"><span class="uk-margin-small-right" uk-icon="icon: guide; ratio: 0.1"></span>Guides</a></li>
        </ul>
    </div>
</nav>