// FONTS
@font-face {
	font-family: 'Segoe-UI-Bold';
	src: url('fonts/Segoe-UI-Bold.eot');
	src: local('☺'), url('fonts/Segoe-UI-Bold.woff') format('woff'), url('fonts/Segoe-UI-Bold.ttf') format('truetype'), url('fonts/Segoe-UI-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe-UI';
	src: url('fonts/Segoe-UI.eot');
	src: local('☺'), url('fonts/Segoe-UI.woff') format('woff'), url('fonts/Segoe-UI.ttf') format('truetype'), url('fonts/Segoe-UI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'back-to-nature';
	src: url('fonts/back-to-nature.eot');
	src: local('☺'), url('fonts/back-to-nature.woff') format('woff'), url('fonts/back-to-nature.ttf') format('truetype'), url('fonts/back-to-nature.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cacha';
	src: url('fonts/Cacha.eot');
	src: local('☺'), url('fonts/Cacha.woff') format('woff'), url('fonts/Cacha.ttf') format('truetype'), url('fonts/Cacha.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// FLEX
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    align-items: center;
}

.start{
    align-items: flex-start;
}

.evenly{
    justify-content: space-evenly;
}

.between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

// GENERAL TAGS
body{
    display: flex;
    flex-direction: column;
    font-family: 'Sergoe-UI', sans-serif;
    font-size: 1.25rem;
    color: #122025;
    min-height: 100vh;
    margin: 0;
}

p{
    margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.padding0{
    padding: 0;
}

//buttons
button{
    cursor: pointer;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

.medium-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}

.trash{
    background-image: url("media/trash.png");
}

.edit{
    margin-left: 0.5rem;
    background-image: url("media/edit.png");
}

.remove{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    background-image: url("media/remove.png");
}

.add{
    color: #4cda43;
    &::before{
        content: url("media/add.png");
        margin-right: 0.4rem;
    }
}

//MODAL
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.2);
    position: fixed;

    >div{
        position: relative;
        background-color: #EFF1F2;
        border-radius: 1rem;

        >.remove{
            position: absolute;
            right: 0;
            top: 0;
            margin: 1rem;
        }
    }
}

#delete-modal{
    >div{
        padding: 3rem;

        p{
            margin-bottom: 1rem;
        }

        #confirm{
            margin-right: 1rem;
            &::before{
                content: url("media/confirm.png");
            }
        }

        #decline{
            &::before{
                content: url("media/decline.png");
            }
        }
    }
}

.hidden{
    display: none;
}

//FORMS
form{
    margin: 3rem;
    max-width: 72rem;
    min-width: 18rem;

    fieldset{
        margin: 0 2rem 1rem;
        width: 18rem;
    }

    legend{
        font-family: 'Segoe-UI-Bold', sans-serif;
    }

    select{
        color: #585B6E;
        font-size: 1.25rem;
        border: 1px solid #D7DAE2;
        border-radius: 0.25rem;
        box-shadow: 0 2px 30px rgba(0,0,0,0.15);
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    
    input{
        color: #585B6E;
        font-size: 1.25rem;
        border: 1px solid #D7DAE2;
        border-radius: 0.25rem;
        box-shadow: 0 2px 30px rgba(0,0,0,0.15);
        margin-bottom: 1rem;
        margin-left: 1rem;
    
        &[type="number"]{
            width: 5rem;
            -moz-appearance: textfield;
    
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
        }
    
        &[type="date"]{
            width: 9.5rem;
        }
    
        &[type="submit"]{
            font-family: 'Segoe-UI-Bold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            border-radius: 2rem;
            color: #122025;
            background-color: #f69333;
            border: none;
            padding: 0.75rem 1.75rem;
            margin: 0;
            align-self: center;
            cursor: pointer;
            position: relative;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
            transition: box-shadow 0.3s ease-in-out;

            &:hover{
                box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .error{
        margin-left: 1rem;
        height: 1.25rem;
        color: #E43137;
        font-size: 0.85rem;
        transform: translateY(-1rem);
    }

    .btn-error{
        transform: none;
    }
}


// TOP BAR
header{
    background-color: #122025;
    color: #ffeace;

    #user{
        width: 20rem;

        div{
            background-color: #7db3c7;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            margin-bottom: 0.5rem;
            margin-top: 2rem;
        }

        #user-name{
            font-size: 1.25rem;
        }

        a{
            text-transform: uppercase;
            font-family: 'Segoe-UI-Bold', sans-serif;
            letter-spacing: 0.2rem;
            transition: .1s ease-in-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 1rem 0 2rem 2.1rem;
            align-self: flex-start;

            svg{
                transition: .1s ease-in-out;
                margin-right: 0.7rem;
            }
            
            &:hover{
                color: #f69333;

                svg{
                    fill: #f69333;
                }
            }
        }
    }

    #menu{
        display: none;
        color: #EFF1F2;
    }

    h1{
        font-family: 'Cacha', serif;
        font-size: 5rem;
        letter-spacing: 0.75rem;
        flex: 1 0;
        text-align: center;
        color: #f69333;
        margin-top: 2rem;
    }
}

// NAV
nav{
    color: #ffeace;
    background-color: #122025;
    border-top: 1px solid #707070;
    text-transform: uppercase;
    font-family: 'Segoe-UI-Bold', sans-serif;
    letter-spacing: 0.2rem;

    ul{

        li{
            width: 18rem;
            margin: 2rem 0 2rem 2rem;
    
            a{
                transition: .1s ease-in-out;
                cursor: pointer;
                display: flex;
                align-items: center;

                svg{
                    transition: .1s ease-in-out;
                    margin-right: 1rem;
                }
                
                &:hover{
                    color: #f69333;

                    svg{
                        fill: #f69333;
                    }
                }
            }
        }
    }
}


//MAIN
main{
    display: flex;
    flex: 1;

    >section{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EFF1F2;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        flex: 1;
        position: relative;
        top: -4rem;
        margin-right: 1rem;
        margin-bottom: -4rem;
        padding-top: 4rem;

        table{
            width: 100%;
            border-collapse: collapse;
            
            th{
                color: #9296AD;
                text-align: left;
                padding: 1rem 0;

                &:first-of-type{
                    padding-left: 5rem;
                }
            }

            tr{
                border: 1px solid white;

                td{

                    &:first-of-type{
                        padding-left: 5rem;
                    }

                    ul{
                        margin: 1.5rem 0;

                        li{
                            display: flex;
                            align-items: center;
                            margin-bottom: 0.75rem;
                        }
                    }

                    .trash{
                        margin: 1.5rem 0;
                    }
                }
            }
        }
    }
}

    

//LOGIN
#login{
    background-color: #122025;

    section{
        border-radius: 1rem;
        top: -2rem;
        margin: 0;
    }
}

//RESPONSIVE
@media only screen  and (max-width:1172px){
    //RESIZE EXCURSION FORM TO KEEP 2 COLUMN VIEW
    #excursion{
        form{
            margin-left: 1rem;
            margin-right: 1rem;
    
            fieldset{
                margin-left: 1rem;
                margin-right: 1rem;
                box-sizing: border-box;
            }
    
            input[type="number"]{
                margin-left: 0;
            }
        }
    }
}

@media only screen and (max-width:1040px){
    //PREVENT MULTI-COLUMN IN SECTION
    section>div{

        form{
            margin-top: 0;
            margin-bottom: 1rem;

            &:not(:first-of-type)::before{
                content: '';
                height: 1px;
                width: 100%;
                background-color: #585B6E;
                margin-bottom: 1rem;
            }
    
            input[type="submit"]{
                margin-top: 1rem;
            }
        }
    }
}

@media only screen and (max-width:688px){
    header{
        #user{
            display: none;
        }

        #menu{
            display: block;
            align-self: flex-end;
            margin: 0 1rem;
            flex-shrink: 0;
        }
    }

    main{
        position: relative;

        nav{
            position: absolute;
            border-bottom-right-radius: 1rem;
            left: -100%;
            transition: 0.8s;

            ul {

                li{
                    width: auto;
                    margin: 1.5rem 0;

                    a{
                        padding: 1rem;
                    }
                }
            }
        }
        
        section{
            position: initial;
            border-radius: 0;
            margin: 0;
        }
    }
}


@media only screen and (max-width:368px){
    form{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    #excursion form{
        margin-right: 0;
        margin-left: 0;
    }
}