// FONTS
@font-face {
	font-family: 'Segoe-UI-Bold';
	src: url('fonts/Segoe-UI-Bold.eot');
	src: local('☺'), url('fonts/Segoe-UI-Bold.woff') format('woff'), url('fonts/Segoe-UI-Bold.ttf') format('truetype'), url('fonts/Segoe-UI-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe-UI';
	src: url('fonts/Segoe-UI.eot');
	src: local('☺'), url('fonts/Segoe-UI.woff') format('woff'), url('fonts/Segoe-UI.ttf') format('truetype'), url('fonts/Segoe-UI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'back-to-nature';
	src: url('fonts/back-to-nature.eot');
	src: local('☺'), url('fonts/back-to-nature.woff') format('woff'), url('fonts/back-to-nature.ttf') format('truetype'), url('fonts/back-to-nature.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// FLEX
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    align-items: center;
}

.start{
    align-items: flex-start;
}

.evenly{
    justify-content: space-evenly;
}

.between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

// GENERAL TAGS
body{
    font-family: 'Sergoe-UI', sans-serif;
    font-size: 1.25rem;
    color: #122025;
    min-height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex: 1;
}

p{
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

//FORMS
form{
    margin: 2rem;
    max-width: 72rem;
    min-width: 18rem;

    fieldset{
        margin: 0 2rem 1rem;
        width: 18rem;
    }

    legend{
        font-family: 'Segoe-UI-Bold', sans-serif;
    }
    
    input, select{
        color: #585B6E;
        font-size: 1.25rem;
        border: 1px solid #D7DAE2;
        border-radius: 0.25rem;
        box-shadow: 0 2px 30px rgba(0,0,0,0.15);
        margin-bottom: 1rem;
        margin-left: 1rem;
    
        &[type=number]{
            width: 5rem;
            -moz-appearance: textfield;
    
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
        }
    
        &[type=date]{
            width: 9.5rem;
        }
    
        &[type=submit]{
            font-family: 'Segoe-UI-Bold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            color: #585B6E;
            border-radius: 2rem;
            background-color: #59F5BC;
            border: none;
            padding: 0.75rem 1.75rem;
            margin-top: 2rem;
            margin-left: 0;
            align-self: center;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover{
                background-color: rgb(62, 179, 136);
                color: #EFF1F2;
            }
        }
    }
}


// TOP BAR
header{
    background-color: #122025;
    color: #EFF1F2;

    #user{
        min-width: 8rem;
        padding: 2.8rem 0;
        flex: 0 1;
        margin-left: 6rem;

        div{
            background-color: #9296AD;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            margin-bottom: 0.5rem;
        }

        .user-name{
            font-size: 1.25rem;
        }
        
        .not-connected{
            color: #585B6E
        }

        @media only screen and (max-width:796px){
            margin-left: 3rem;
        }
    }

    h1{
        font-family: 'back-to-nature', serif;
        font-size: 5rem;
        flex: 1 0;
        text-align: center;
        margin-top: 0.8rem;
        margin-right: 1rem;
        color: #59F5BC;
    }
}

// NAV
nav{
    background-color: #122025;
    color: #EFF1F2;
    border-top: 1px solid #707070;
    text-transform: uppercase;
    font-family: 'Segoe-UI-Bold', sans-serif;
    letter-spacing: 0.1rem;

    li{
        width: 20rem;
        margin: 2rem 0;

        a{
            transition: .1s ease-in-out;
            transition-property: color;
            
            &:hover{
                color: #59F5BC;
                text-decoration: none;
            }

            .uk-icon{
                margin: 0 1rem 0 2rem;
            }
        }
    }
}


//SECTION
section{
    background-color: #EFF1F2;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex: 1;
    position: relative;
    top: -4rem;
    margin-right: 1rem;
    margin-bottom: -4rem;
}

//RESPONSIVE
@media only screen  and (max-width:1172px){
    //RESIZE EXCURSION FORM TO KEEP 2 COLUMN VIEW
    #excursion{
        form{
            margin-left: 1rem;
            margin-right: 1rem;
    
            fieldset{
                margin-left: 1rem;
                margin-right: 1rem;
                box-sizing: border-box;
            }
    
            input[type=number]{
                margin-left: 0;
            }
        }
    }
}

@media only screen and (max-width:1040px){
    //PREVENT MULTI-COLUMN IN SECTION
    section{
        flex-direction: column;

        form{
            margin-top: 0;
            margin-bottom: 1rem;

            &:first-of-type{
                margin-top: 4rem;
            }

            &:not(:first-of-type)::before{
                content: '';
                height: 1px;
                width: 100%;
                background-color: #585B6E;
                margin-bottom: 1rem;
            }
    
            input[type=submit]{
                margin-top: 1rem;
            }
        }
        
    }
}