@charset "UTF-8";
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("fonts/Segoe-UI-Bold.eot");
  src: local("☺"), url("fonts/Segoe-UI-Bold.woff") format("woff"), url("fonts/Segoe-UI-Bold.ttf") format("truetype"), url("fonts/Segoe-UI-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe-UI";
  src: url("fonts/Segoe-UI.eot");
  src: local("☺"), url("fonts/Segoe-UI.woff") format("woff"), url("fonts/Segoe-UI.ttf") format("truetype"), url("fonts/Segoe-UI.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cacha";
  src: url("fonts/Cacha.eot");
  src: local("☺"), url("fonts/Cacha.woff") format("woff"), url("fonts/Cacha.ttf") format("truetype"), url("fonts/Cacha.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.evenly {
  justify-content: space-evenly;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Sergoe-UI", sans-serif;
  font-size: 1.25rem;
  color: #122025;
  min-height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.padding0 {
  padding: 0;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

.large-btn {
  font-family: "Segoe-UI-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 2rem;
  color: #122025;
  background-color: #f69333;
  padding: 0.75rem 1.75rem;
  margin: 0;
  align-self: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}
.large-btn:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.medium-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
}

.trash {
  background-image: url("media/trash.png");
}

.edit {
  background-image: url("media/edit.png");
}

.remove {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  background-image: url("media/remove.png");
}

.add {
  color: #4cda43;
}
.add::before {
  content: url("media/add.png");
  margin-right: 0.4rem;
}

header {
  background-color: #122025;
  color: #ffeace;
}
header #user {
  width: 20rem;
}
header #user div {
  background-color: #7db3c7;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
header #user #user-name {
  font-size: 1.25rem;
}
header #user a {
  text-transform: uppercase;
  font-family: "Segoe-UI-Bold", sans-serif;
  letter-spacing: 0.2rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 2.1rem;
  align-self: flex-start;
}
header #user a svg {
  transition: 0.1s ease-in-out;
  margin-right: 0.7rem;
}
header #user a:hover {
  color: #f69333;
}
header #user a:hover svg {
  fill: #f69333;
}
header #menu {
  display: none;
  margin-left: 5rem;
}
@media only screen and (max-width: 718px) {
  header #menu {
    margin-left: 2rem;
  }
}
header #menu > svg {
  transition: 0.1s ease-in-out;
  fill: #EFF1F2;
  cursor: pointer;
}
header #menu > svg:hover {
  fill: #f69333;
}
header h1 {
  font-family: "Cacha", serif;
  font-size: 5rem;
  letter-spacing: 0.75rem;
  padding-left: 1rem;
  flex: 1 0;
  text-align: center;
  color: #f69333;
  margin-top: 2rem;
}
header #responsive-deco {
  display: none;
  margin-right: 5rem;
}
@media only screen and (max-width: 718px) {
  header #responsive-deco {
    margin-right: 2rem;
  }
}
header #responsive-deco svg {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  transform: translateY(0.25rem);
}
header #responsive-deco svg:hover {
  fill: #f69333;
}

@media only screen and (max-width: 1056px) {
  body > header {
    align-items: flex-end;
    padding-bottom: 1rem;
  }
  body > header #user {
    display: none;
  }
  body > header #menu {
    display: flex;
  }
  body > header h1 {
    margin: 1rem 0;
  }
  body > header #responsive-deco {
    display: block;
  }
}
@media only screen and (max-width: 1056px) and (max-width: 564px) {
  body > header {
    justify-content: space-between;
    padding: 2rem;
  }
  body > header h1 {
    display: none;
  }
  body > header #menu {
    margin: 0;
  }
  body > header #responsive-deco {
    margin: 0;
  }
}
nav {
  color: #ffeace;
  background-color: #122025;
  border-top: 1px solid #707070;
  text-transform: uppercase;
  font-family: "Segoe-UI-Bold", sans-serif;
  letter-spacing: 0.2rem;
}
nav ul li {
  width: 18rem;
  margin: 2rem 0 2rem 2rem;
}
nav ul li a {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}
nav ul li a svg {
  transition: 0.1s ease-in-out;
  margin-right: 1rem;
}
nav ul li a:hover {
  color: #f69333;
}
nav ul li a:hover svg {
  fill: #f69333;
}

#login {
  background-color: #122025;
}
#login h1 {
  display: block;
}
#login main {
  align-items: flex-start;
  margin-top: 2rem;
}
#login main section {
  border-radius: 1rem;
  top: -2rem;
  margin: 0;
}
#login main section #login-form {
  min-width: 50vw;
}
@media only screen and (max-width: 362px) {
  #login h1 {
    font-size: 4rem;
  }
  #login form {
    padding: 1.5rem;
  }
}

main {
  display: flex;
  flex: 1;
}
main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFF1F2;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  flex: 1;
  position: relative;
  top: -4rem;
  margin-right: 1rem;
  margin-bottom: -4rem;
  padding-top: 4rem;
}
main > section table {
  width: 100%;
  border-collapse: collapse;
}
@media only screen and (max-width: 1056px) {
  main > section table .phone {
    display: none;
  }
}
@media only screen and (max-width: 564px) {
  main > section table .excursion {
    display: none;
  }
}
main > section table th {
  color: #9296AD;
  text-align: left;
  padding: 1rem 0;
}
main > section table th:first-of-type {
  padding-left: 5rem;
}
@media only screen and (max-width: 718px) {
  main > section table th:first-of-type {
    padding-left: 2rem;
  }
}
main > section table tr {
  border: 1px solid white;
}
main > section table tr td:first-of-type {
  padding-left: 5rem;
}
@media only screen and (max-width: 718px) {
  main > section table tr td:first-of-type {
    padding-left: 2rem;
  }
}
main > section table tr td ul {
  margin: 1.5rem 0;
}
main > section table tr td ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
main > section table tr td .trash {
  margin: 1.5rem 0;
}
@media only screen and (max-width: 1056px) {
  main {
    position: relative;
  }
  main nav {
    position: absolute;
    border-bottom-right-radius: 1rem;
    left: -100%;
    transition: 0.5s;
    z-index: 1;
  }
  main section {
    position: initial;
    border-radius: 0;
    margin: 0;
  }
}

.excursion-form > div > div {
  margin: 0 1.5rem;
}

#excursion #create-form {
  box-sizing: border-box;
  width: 100%;
  padding-top: 0;
}
#excursion #create-form > div > div {
  flex-basis: 30%;
}
@media only screen and (min-width: 717px) and (max-width: 1360px) {
  #excursion #create-form .guides-list {
    flex-basis: 100%;
  }
  #excursion #create-form .guides-list > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #excursion #create-form .guides-list > div label {
    flex-basis: 40%;
  }
  #excursion #create-form .guides-list #guidesError, #excursion #create-form .guides-list #update-guidesError {
    text-align: center;
  }
  #excursion #create-form #date-place-update {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
}
@media only screen and (max-width: 716px) {
  #excursion #create-form {
    padding: 0;
  }
  #excursion #create-form > div {
    flex-direction: column;
    align-items: center;
  }
}
#excursion #guidesError, #excursion #update-guidesError {
  margin-top: 0.5rem;
}
#excursion #excursions > section {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  margin: 1rem;
  width: 28rem;
}
#excursion #excursions > section header {
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
#excursion #excursions > section header h2 {
  margin: 0;
}
#excursion #excursions > section header div {
  min-width: 11rem;
  text-align: right;
}
#excursion #excursions > section header .price {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#excursion #excursions > section > div {
  padding: 1rem;
}
#excursion #excursions > section > div > p {
  margin-bottom: 1rem;
}
#excursion #excursions > section > div > div > p {
  max-width: 20rem;
}
#excursion #excursions > section > div > div > div {
  align-self: flex-end;
}
@media only screen and (max-height: 680px) {
  #excursion #excursions > section > div > div .edit {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  #excursion #excursions > section > div > div .edit {
    display: none;
  }
}
@media only screen and (max-width: 484px) {
  #excursion #excursions > section {
    width: 100%;
  }
  #excursion #excursions > section header {
    flex-direction: column;
  }
  #excursion #excursions > section header div {
    min-width: 0;
  }
  #excursion #excursions > section header div p {
    text-align: left;
  }
  #excursion #excursions > section > div > div {
    flex-direction: column;
  }
}
#excursion #update-modal > div {
  margin: 1rem;
}
#excursion #update-modal > div #update-form {
  min-width: 80vw;
}
#excursion #update-modal > div #update-form > div > div {
  flex-basis: 30%;
}
@media only screen and (max-width: 1056px) {
  #excursion #update-modal > div #update-form {
    padding: 2rem;
  }
  #excursion #update-modal > div #update-form .guides-list {
    flex-basis: 100%;
  }
  #excursion #update-modal > div #update-form .guides-list > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #excursion #update-modal > div #update-form .guides-list > div label {
    flex-basis: 40%;
  }
  #excursion #update-modal > div #update-form .guides-list #guidesError, #excursion #update-modal > div #update-form .guides-list #update-guidesError {
    text-align: center;
  }
  #excursion #update-modal > div #update-form #date-place-update {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
}

form {
  padding: 3rem;
}
form label {
  margin-bottom: 0.5rem;
}
form select {
  color: #585B6E;
  font-size: 1.25rem;
  border: 1px solid #D7DAE2;
  border-radius: 0.5rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 1rem;
}
form .custom-checkbox {
  display: block;
  position: relative;
  padding-left: 1.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
form .custom-checkbox input:checked ~ span {
  background-color: #585B6E;
}
form .custom-checkbox span {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
form input {
  color: #585B6E;
  font-size: 1.25rem;
  border: 1px solid #D7DAE2;
  border-radius: 0.5rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 1rem;
}
form input[type=number] {
  -moz-appearance: textfield;
}
form input[type=number]::-webkit-outer-spin-button, form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
form input[type=submit] {
  font-family: "Segoe-UI-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 2rem;
  color: #122025;
  background-color: #f69333;
  border: none;
  padding: 1rem 1.75rem;
  margin: 0;
  align-self: center;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}
form input[type=submit]:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}
form .error {
  height: 1.25rem;
  color: #E43137;
  font-size: 0.85rem;
  transform: translateY(-1rem);
}
form .btn-error {
  transform: none;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}
.modal > div {
  position: relative;
  background-color: #EFF1F2;
  border-radius: 1rem;
}
.modal > div > .remove {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}
.modal #create-form {
  min-width: 50vw;
}
@media only screen and (max-width: 420px) {
  .modal #create-form {
    padding: 2rem 1rem;
  }
}
.modal #update-form {
  min-width: 50vw;
}
@media only screen and (max-width: 420px) {
  .modal #update-form {
    padding: 2rem;
  }
}
.modal #registration-form {
  min-width: 50vw;
}

#delete-modal > div {
  margin: 2rem;
  padding: 3rem;
  min-width: 50vw;
}
#delete-modal > div p {
  text-align: center;
  margin-bottom: 1rem;
}
#delete-modal > div #confirm {
  margin-right: 1rem;
}
#delete-modal > div #confirm::before {
  content: url("media/confirm.png");
}
#delete-modal > div #decline::before {
  content: url("media/decline.png");
}

/*# sourceMappingURL=style.css.map */
