@charset "UTF-8";
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("fonts/Segoe-UI-Bold.eot");
  src: local("☺"), url("fonts/Segoe-UI-Bold.woff") format("woff"), url("fonts/Segoe-UI-Bold.ttf") format("truetype"), url("fonts/Segoe-UI-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe-UI";
  src: url("fonts/Segoe-UI.eot");
  src: local("☺"), url("fonts/Segoe-UI.woff") format("woff"), url("fonts/Segoe-UI.ttf") format("truetype"), url("fonts/Segoe-UI.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "back-to-nature";
  src: url("fonts/back-to-nature.eot");
  src: local("☺"), url("fonts/back-to-nature.woff") format("woff"), url("fonts/back-to-nature.ttf") format("truetype"), url("fonts/back-to-nature.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
}

.start {
  align-items: flex-start;
}

.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

body {
  font-family: "Sergoe-UI", sans-serif;
  font-size: 1.25rem;
  color: #122025;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
}

p {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 2rem;
  max-width: 72rem;
  min-width: 18rem;
}
form fieldset {
  margin: 0 2rem 1rem;
  width: 18rem;
}
form legend {
  font-family: "Segoe-UI-Bold", sans-serif;
}
form input, form select {
  color: #585B6E;
  font-size: 1.25rem;
  border: 1px solid #D7DAE2;
  border-radius: 0.25rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  margin-left: 1rem;
}
form input[type=number], form select[type=number] {
  width: 5rem;
  -moz-appearance: textfield;
}
form input[type=number]::-webkit-outer-spin-button, form input[type=number]::-webkit-inner-spin-button, form select[type=number]::-webkit-outer-spin-button, form select[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
form input[type=date], form select[type=date] {
  width: 9.5rem;
}
form input[type=submit], form select[type=submit] {
  font-family: "Segoe-UI-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #585B6E;
  border-radius: 2rem;
  background-color: #59F5BC;
  border: none;
  padding: 0.75rem 1.75rem;
  margin-top: 2rem;
  margin-left: 0;
  align-self: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
form input[type=submit]:hover, form select[type=submit]:hover {
  background-color: #3eb388;
  color: #EFF1F2;
}

header {
  background-color: #122025;
  color: #EFF1F2;
}
header #user {
  min-width: 8rem;
  padding: 2.8rem 0;
  flex: 0 1;
  margin-left: 6rem;
}
header #user div {
  background-color: #9296AD;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}
header #user .user-name {
  font-size: 1.25rem;
}
header #user .not-connected {
  color: #585B6E;
}
header h1 {
  font-family: "back-to-nature", serif;
  font-size: 5rem;
  flex: 1 0;
  text-align: center;
  margin-top: 0.8rem;
  margin-right: 1rem;
  color: #59F5BC;
}

nav {
  background-color: #122025;
  color: #EFF1F2;
  border-top: 1px solid #707070;
  text-transform: uppercase;
  font-family: "Segoe-UI-Bold", sans-serif;
  letter-spacing: 0.1rem;
}
nav li {
  width: 20rem;
  margin: 2rem 0;
}
nav li a {
  transition: 0.1s ease-in-out;
  transition-property: color;
}
nav li a:hover {
  color: #59F5BC;
  text-decoration: none;
}
nav li a .uk-icon {
  margin: 0 1rem 0 2rem;
}

section {
  background-color: #EFF1F2;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  flex: 1;
  position: relative;
  top: -4rem;
  margin-right: 1rem;
  margin-bottom: -4rem;
}

@media only screen and (max-width: 1172px) {
  #excursion form {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #excursion form fieldset {
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
  }
  #excursion form input[type=number] {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1040px) {
  section {
    flex-direction: column;
  }
  section form {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  section form:first-of-type {
    margin-top: 4rem;
  }
  section form:not(:first-of-type)::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #585B6E;
    margin-bottom: 1rem;
  }
  section form input[type=submit] {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 894px) {
  header #user {
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
