// FONTS_______________________________________________________________
@font-face {
	font-family: 'Segoe-UI-Bold';
	src: url('fonts/Segoe-UI-Bold.eot');
	src: local('☺'), url('fonts/Segoe-UI-Bold.woff') format('woff'), url('fonts/Segoe-UI-Bold.ttf') format('truetype'), url('fonts/Segoe-UI-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe-UI';
	src: url('fonts/Segoe-UI.eot');
	src: local('☺'), url('fonts/Segoe-UI.woff') format('woff'), url('fonts/Segoe-UI.ttf') format('truetype'), url('fonts/Segoe-UI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'back-to-nature';
	src: url('fonts/back-to-nature.eot');
	src: local('☺'), url('fonts/back-to-nature.woff') format('woff'), url('fonts/back-to-nature.ttf') format('truetype'), url('fonts/back-to-nature.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cacha';
	src: url('fonts/Cacha.eot');
	src: local('☺'), url('fonts/Cacha.woff') format('woff'), url('fonts/Cacha.ttf') format('truetype'), url('fonts/Cacha.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// FLEX___________________________________________________________
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    align-items: center;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}

.evenly{
    justify-content: space-evenly;
}

.between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

// GENERAL TAGS____________________________________________________
body{
    display: flex;
    flex-direction: column;
    font-family: 'Sergoe-UI', sans-serif;
    font-size: 1.25rem;
    color: #122025;
    min-height: 100vh;
    margin: 0;
}

p{
    margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.padding0{
    padding: 0;
}

.hidden{
    display: none;
}

//BUTTON______________________________________________________
button{
    cursor: pointer;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

.large-btn{
    font-family: 'Segoe-UI-Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    color: #122025;
    background-color: #f69333;
    padding: 0.75rem 1.75rem;
    margin: 0;
    align-self: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;

    &:hover{
        box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
    }
}

.medium-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}

.trash{
    background-image: url("media/trash.png");
}

.edit{
    background-image: url("media/edit.png");
}

.remove{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    background-image: url("media/remove.png");
}

.add{
    color: #4cda43;
    &::before{
        content: url("media/add.png");
        margin-right: 0.4rem;
    }
}

// TOP BAR_____________________________________________________________
header{
    background-color: #122025;
    color: #ffeace;

    #user{
        width: 20rem;

        div{
            background-color: #7db3c7;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            margin-bottom: 0.5rem;
            margin-top: 2rem;
        }

        #user-name{
            font-size: 1.25rem;
        }

        a{
            text-transform: uppercase;
            font-family: 'Segoe-UI-Bold', sans-serif;
            letter-spacing: 0.2rem;
            transition: .1s ease-in-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 1rem 0 2rem 2.1rem;
            align-self: flex-start;

            svg{
                transition: .1s ease-in-out;
                margin-right: 0.7rem;
            }
            
            &:hover{
                color: #f69333;

                svg{
                    fill: #f69333;
                }
            }
        }
    }

    #menu{
        display: none;
        margin-left: 2rem;

        >svg{
            transition: .1s ease-in-out;
            fill: #EFF1F2;
            cursor: pointer;

            &:hover{
                fill: #f69333;
            }
        }
    }

    h1{
        font-family: 'Cacha', serif;
        font-size: 5rem;
        letter-spacing: 0.75rem;
        flex: 1 0;
        text-align: center;
        color: #f69333;
        margin-top: 2rem;
    }

    #responsive-deco{
        display: none;
        margin-right: 2rem;
        
        svg{
            transition: 0.1s ease-in-out;
            cursor: pointer;

            &:hover{
                fill: #f69333;
            }
        }
    }

    //RESPONSIVE HEADER
    @media only screen and (max-width:1034px){
        align-items: flex-end;
        padding-bottom: 1rem;

        #user{
            display: none;
        }

        #menu{
            display: flex;
        }

        h1{
            margin: 1rem 0;
        }

        #responsive-deco{
            display: block;
        }
    }
}

// NAV__________________________________________________________
nav{
    color: #ffeace;
    background-color: #122025;
    border-top: 1px solid #707070;
    text-transform: uppercase;
    font-family: 'Segoe-UI-Bold', sans-serif;
    letter-spacing: 0.2rem;

    ul{

        li{
            width: 18rem;
            margin: 2rem 0 2rem 2rem;
    
            a{
                transition: .1s ease-in-out;
                cursor: pointer;
                display: flex;
                align-items: center;

                svg{
                    transition: .1s ease-in-out;
                    margin-right: 1rem;
                }
                
                &:hover{
                    color: #f69333;

                    svg{
                        fill: #f69333;
                    }
                }
            }
        }
    }
}

//LOGIN________________________________________________________
#login{
    background-color: #122025;

    main{
        align-items: flex-start;
        margin-top: 2rem;
        
        section{
            border-radius: 1rem;
            top: -2rem;
            margin: 0;
        }
    }

    @media only screen and (max-width:394px){
        h1{
            font-size: 4rem;
        }

        form{
            padding: 2rem;
        }
    }
}

//MAIN SECTION AND TABLE______________________________________________
main{
    display: flex;
    flex: 1;

    >section{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EFF1F2;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        flex: 1;
        position: relative;
        top: -4rem;
        margin-right: 1rem;
        margin-bottom: -4rem;
        padding-top: 4rem;

        table{
            width: 100%;
            border-collapse: collapse;

            //RESPONSIVE HIDE PHONE COLUMN
            @media only screen and (max-width:1034px){
                .phone{
                    display: none;
                }
            }
            
            th{
                color: #9296AD;
                text-align: left;
                padding: 1rem 0;

                &:first-of-type{
                    padding-left: 5rem;
                    @media only screen and (max-width:664px){
                        padding-left: 2rem;
                    }

                }
            }

            tr{
                border: 1px solid white;

                td{

                    &:first-of-type{
                        padding-left: 5rem;
                        @media only screen and (max-width:664px){
                            padding-left: 2rem;
                        }
                    }

                    ul{
                        margin: 1.5rem 0;

                        li{
                            display: flex;
                            align-items: center;
                            margin-bottom: 0.75rem;
                        }
                    }

                    .trash{
                        margin: 1.5rem 0;
                    }
                }
            }
        }
    }

    //RESPONSIVE SECTION
    @media only screen and (max-width:1034px){
        position: relative;

        nav{
            position: absolute;
            border-bottom-right-radius: 1rem;
            left: -100%;
            transition: 0.5s;
        }
        
        section{
            position: initial;
            border-radius: 0;
            margin: 0;
        }
    }
}

//EXCURSION PAGE_______________________________________________
#create-form{
    width: 90%;
    
    #excursion-fields{
        
        >div{
            margin: 0 1.5rem;
    
            #guidesError{
                margin-top: 0.5rem;
            }
        }
    
        @media only screen and (max-width:1342px){
            #guides-list{
                >label{
                    text-align: center;
                }
    
                >div{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
    
                    label{
                        box-sizing: border-box;
                        width: 40%;
                        margin-left: 3rem;
                    }
                }
    
                #guidesError{
                    text-align: center;
                }
            }
        }
    }
}

#excursions>section{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    border-radius: 1rem;
    margin: 1rem;
    width: 28rem;

    header{
        padding: 1rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        display: flex;
        justify-content: space-between;

        h2{
            margin: 0;
        }

        div{
            min-width: 11rem;
            text-align: right;
        }

        .price{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    >div{
        padding: 1rem;

        >p{
            margin-bottom: 1rem;
        }

        >div{

            >p{
                max-width: 20rem;
            }
            
            >div{
                align-self: flex-end;
            }
        }
    }
}

#update-form{
    >div{

        @media only screen and (min-width:699px) and (max-width:1012px){
            >div:last-of-type>div{
                flex-direction: row;
                flex-wrap: wrap;

                label{
                    flex: 0 0 25%;
                    margin-right: 1rem;
                }
            }
        }

        >div{
            margin: 0 1.5rem;
        }
    }
}

//FORMS__________________________________________________
form{
    padding: 3rem;

    label{
        margin-bottom: 0.5rem;
    }

    select{
        color: #585B6E;
        font-size: 1.25rem;
        border: 1px solid #D7DAE2;
        border-radius: 0.25rem;
        box-shadow: 0 2px 30px rgba(0,0,0,0.15);
        margin-bottom: 1rem;
        margin-left: 1rem;
        min-width: 14rem;
    }

    .custom-checkbox{
        display: block;
        position: relative;
        padding-left: 1.75rem;
        margin-bottom: 0.75rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ span{
                background-color: #585B6E;
            }
        }

        span{
            position: absolute;
            top: 0.2rem;
            left: 0;
            height: 1rem;
            width: 1rem;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 2px 30px rgba(0,0,0,0.15);
            transition: 0.5s;
        }
    }
    
    input{
        color: #585B6E;
        font-size: 1.25rem;
        border: 1px solid #D7DAE2;
        border-radius: 0.25rem;
        box-shadow: 0 2px 30px rgba(0,0,0,0.15);
        margin-bottom: 1rem;
        margin-left: 1rem;
    
        &[type="number"]{
            width: 5rem;
            -moz-appearance: textfield;
    
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
        }
    
        &[type="date"]{
            width: 14rem;
        }
    
        &[type="submit"]{
            font-family: 'Segoe-UI-Bold', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            border-radius: 2rem;
            color: #122025;
            background-color: #f69333;
            border: none;
            padding: 0.75rem 1.75rem;
            margin: 0;
            align-self: center;
            cursor: pointer;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
            transition: box-shadow 0.3s ease-in-out;

            &:hover{
                box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .error{
        margin-left: 1rem;
        height: 1.25rem;
        color: #E43137;
        font-size: 0.85rem;
        transform: translateY(-1rem);
    }

    .btn-error{
        transform: none;
    }
}

//MODAL_____________________________________________________
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.2);
    position: fixed;

    >div{
        position: relative;
        background-color: #EFF1F2;
        border-radius: 1rem;

        >.remove{
            position: absolute;
            right: 0;
            top: 0;
            margin: 1rem;
        }
    }
}

#delete-modal{
    >div{
        padding: 3rem;

        p{
            margin-bottom: 1rem;
        }

        #confirm{
            margin-right: 1rem;
            &::before{
                content: url("media/confirm.png");
            }
        }

        #decline{
            &::before{
                content: url("media/decline.png");
            }
        }
    }
}